<div class="logo">
    <i class="dx-icon-todo"></i>
    <span>TaskTracker</span>
</div>

<div class="body-container">
    <div class="root-container">
        <div class="title">Welcome to TaskTracker!</div>
        <div class="sign-container">
            <div>
                <div>Don't have an account?</div>
                <button [routerLink]="['/register']">SIGN UP</button>
            </div>
    
            <div>
                <div>Already have an account?</div>
                <button [routerLink]="['/login']">SIGN IN</button>
            </div>
        </div>
    </div>
</div>

