.container {
    margin: 40px 40px 40px 70px;
    flex-direction: row;
    display: flex;

    .dx-icon-user {
        font-size: 70px;
        margin-top:30px;
        width: 60px;
        margin-right: 70px;
    }

    .change-password-button {
        margin-left: auto;
        display: block;
        width: 220px;
    }

    .info-container {
        width: 400px;
        position:relative;

        .info-item {
            margin-bottom: 5px;
            border-bottom: 1px solid #cecece;
            border-radius: 4px;
            padding: 5px;
            background-color: rgba(255,255,255, 0.5);
        }

        .info-item span {
            font-weight:500;
            margin-bottom:5px;
            font-size: 15px;
        }

        .edit-btn {
            position: absolute;
            top: -25px;
            right: -30px;
            padding: 5px;
            border-radius: 50%;
            cursor:pointer;
            background-color: transparent;
        }

        .edit-btn:hover {
            background-color: antiquewhite;
        }
    }
}