<div class="logo" (click)="navigateTo('dashboard')">
    <i class="dx-icon-todo"></i>
    <span matTooltip="To dashboard">TaskTracker</span>
</div>

<div class="wrapper">
    <div class="header-container">
        <div class="left-side">
            <button>Create a task</button>
            <button>My tasks</button>
        </div>
        <div class="right-side" (click)="navigateTo('account')">
            <i class="dx-icon-user"></i>
        </div>
        <div (click)="logout()" class="exit-icon" matTooltip="Exit">
            <img src="../../../../../assets/exit-icon.png" alt="Exit">
        </div>
    </div>
</div>
